# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=bpl-indexer service
ConditionPathExists=/home/caleb/bokoup-program-library/target/release/bpl-indexer
After=nats-server.service

[Service]
Type=simple
User=caleb
Group=caleb

Environment=PG_PASSWORD_LOCALNET=

Restart=on-failure

ExecStart=/home/caleb/bokoup-program-library/target/release/bpl-indexer

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=SyslogIdentifier=bpl-indexer

[Install]
WantedBy=multi-user.target