# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=bpl-indexer service
ConditionPathExists=/home/caleb/bokoup-program-library/target/release/bpl-indexer
After=network.target

[Service]
Type=simple
User=caleb
Group=caleb

Restart=on-failure

WorkingDirectory=/home/caleb/bokoup-program-library/target/release
ExecStart=/home/caleb/bokoup-program-library/target/release/bpl_indexer

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=SyslogIdentifier=bpl-indexer

[Install]
WantedBy=multi-user.target