[Unit]
Description=nats-server service
ConditionPathExists=/usr/local/bin/nats-server
After=network.target

[Service]
Type=simple
User=caleb
Group=caleb

Restart=on-failure
ExecStart=/usr/local/bin/nats-server

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=SyslogIdentifier=nats-server

[Install]
WantedBy=multi-user.target