[Unit]
Description=nats-server service
ConditionPathExists=/usr/bin/nats-server
After=network.target

[Service]
Type=simple
User=caleb
Group=caleb

Restart=on-failure

WorkingDirectory=/home/caleb/geyser-plugin-nats
ExecStart=/usr/bin/nats-server

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=SyslogIdentifier=nats-server

[Install]
WantedBy=multi-user.target